[submodule "ReSukiSU"]
	path = kernel-6.6/KernelSU
	branch = main
	url = https://github.com/ReSukiSU/ReSukiSU

[submodule "Baseband-guard"]
	path = kernel-6.6/Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
